.navigationbar {
	z-index: 20;
	background-color: rgba(255,255,255,0.95)
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.endmenu {
  align-items: flex-end;
  text-decoration: none;
}

.menuitems {
  list-style-type: none;
}