.medialink {
	text-decoration: none;
	color: black;
}

.medialink:hover{
	text-decoration: none;
	color: black;
}

.transformMediaCard {
	transition:all 0.3s ease;
}

.transformMediaCard:hover {
	-webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
	transform: translateX(-6px);
	box-shadow: 1px 2px rgba( 0, 0, 0, 0.1 ),
                2px 3px rgba( 0, 0, 0, 0.1 ),
                3px 4px rgba( 0, 0, 0, 0.1 ),
                4px 5px rgba( 0, 0, 0, 0.1 ),
                5px 6px rgba( 0, 0, 0, 0.1 ),
                6px 7px rgba( 0, 0, 0, 0.1 );
}