.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
}

.ui.image {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

hr {
	width: 50px;
	border-top: 2px solid black;
}

a:hover {
	color: white;
}